<form method='post' action='<% prefix %>/login'>

    <div>
    <p>
        <label for='un'>username</label>
        <input type='text' id='un' name='un' size='30'>
    </p>
    <p>
        <label for='pw'>Password</label>
        <input type='password' id='pw' name='pw' size='30'>
    </p>
    </div>

    <button type='submit' value='Login' class='btn'>Login</button>
</form>
